<div class="container top-div col-xs-12 col-sm-9  col-md-6 col-lg-6">
    <h2 id="form-header">Reset Password</h2>
    <form form (ngSubmit)="ResetPassword(ResetPassForm); ResetPassForm.reset()" #ResetPassForm="ngForm"
      class="col-xs-12 col-sm-8  col-md-8 col-lg-8" id="reset-form-id" *ngIf="adminId !== null">
      <div class="form-group">
        <label>Hi {{AdminName}} ,Please enter new password</label>
      </div>
      <div class="form-group">
        <label for="pswd">Password:</label>
        <input ngModel #pswd="ngModel" type="password" class="form-control" id="pswd" placeholder="Enter password"
          name="pswd" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" minlength="8"
          required>
        <div class="top-space" *ngIf="pswd.touched && pswd.invalid">
          <p class="alert alert-danger" *ngIf="pswd.errors.required">This is required field</p>
          <p class="alert alert-danger" *ngIf="pswd.errors.pattern">Password must contain atleast one
            capital letter, small letter,special character and number.
          </p>
          <p *ngIf="pswd.errors.minlength" class="alert alert-danger">Character must be greater than 8</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confir_pass">Confirm Password:</label>
        <input ngModel #confir_pass="ngModel" type="password" class="form-control" id="confir_pass" placeholder="Confirm password"
          name="confir_pass" pattern="{{ pswd.value }}" required>
        <div class="top-space" *ngIf="confir_pass.touched && confir_pass.invalid">
          <p class="alert alert-danger" *ngIf="confir_pass.errors.required">This is required field</p>
          <p class="alert alert-danger" *ngIf="confir_pass.errors.pattern">Both Passwords should match</p>
        </div>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!ResetPassForm.form.valid">
      <a id="signIn_page" name="signIn_page" routerLink="/login" routerLinkActive="active">Sign In</a>
      <p class="top-space alert alert-danger" *ngIf="error !== null">{{error}}</p>
      <p class="top-space alert alert-success" *ngIf="resetStatus">Success!!! Password reset recorded.</p>
    </form>
    
    <p class="top-space alert alert-danger" *ngIf="adminId === null">Invalid request!!!</p>
  </div>