#forgotpass-form-id{
    border: 2px solid;
    border-color: #5f5f5f;
    padding: 27px;
}

#form-header{
    font-size: 40px;
    font-family: serif;
}
#signIn_page{
    float: right;
    text-decoration: underline;
}
.top-space{
    margin-top: 30px;
}
.top-div{
    padding-top: 30px;;
}