<!-- <form (ngSubmit)="onSubmit(reportForm); reportForm.reset()" #reportForm="ngForm"> -->
<!-- <form #reportForm="ngForm"> -->
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <!-- <a href="javascript:;" (click)="openModal(template)">Add Asset</a> -->
                <a [ngClass]="{'active-this': addAssetForm_tag !== null}" href="javascript:;" (click)="open_addAssetDiv()">Add
          Asset</a>
            </li>
            <li>
                <a [ngClass]="{'active-this': editAssetForm_tag !== null}" href="javascript:;" (click)="open_editAssetDiv()">Edit Asset</a>
            </li>
            <li>
                <a href="javascript:;" (click)="openModal(template_remove)">Remove Asset</a>
            </li>
            <li>
                <a [ngClass]="{'active-this': assignAssetForm_tag !== null}" href="javascript:;" (click)="open_assignAssetDiv()">Assign Asset</a>
            </li>
            <!-- <li *ngIf='ReportLink !== null'> -->
            <li>
                <a (click)="exportEmpAsset()" href="javascript:;">Employee Asset</a>
            </li>
            <li>
                <a href="javascript:;" (click)="openAddEmployee(template_addEmployee)">Import Employee</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h1>Asset Management </h1>
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:;" (click)="reload_home()">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" (click)="load_contact()">Contact us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" (click)="load_faq()">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" (click)="load_about()">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:;" (click)="logout()">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content-area">
            <div class="container">

                <form form (ngSubmit)="AddAsset(addAssetForm);" #addAssetForm="ngForm" class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="addAsset-form-id" *ngIf="addAssetForm_tag !== null">
                    <div class="modal-header">
                        <h3 class="modal-title pull-left mod-head">
                            Add New Asset
                        </h3>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="reload_home()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body question-modal-body">

                        <div class="form-group row">
                            <label for="system_serial_number" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Serial Number:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="system_serial_number" placeholder="" name="system_serial_number" #system_serial_number="ngModel" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>

                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="system_serial_number.touched && !system_serial_number.valid">
                                Please enter Serial Number.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="asset_type" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Asset Type:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" name="asset_type" id="asset_type">
                <option [(value)]="type.Tname" *ngFor="let type of assetType">
                  {{type.Tname}}
                </option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="OEM" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">OEM:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="OEM" placeholder="" name="OEM" #OEM="ngModel" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="OEM.touched && !OEM.valid">
                                Please enter OEM.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="model" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Model:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="model" placeholder="" name="model" #model="ngModel" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="model.touched && !model.valid">
                                Please enter model.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="procure_date" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Procure Date:</label>
                            <ejs-datetimepicker required ngModel id='procure_date' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="procure_date" placeholder='Select a date'>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="warranty_startDate" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Warranty Start Date:</label>
                            <ejs-datetimepicker required ngModel class="col-xs-6 col-sm-6  col-md-6 col-lg-6" id='warranty_startDate' name="warranty_startDate" placeholder='Select a date'>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="warrenty_endDate" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Warrenty End Date:</label>
                            <ejs-datetimepicker required ngModel id='warrenty_endDate' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="warrenty_endDate" placeholder='Select a date'>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="AMC_startDate" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMC Start Date:</label>
                            <ejs-datetimepicker required ngModel id='AMC_startDate' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="AMC_startDate" placeholder='Select a date'>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="AMC_endDate" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMC End Date:</label>
                            <ejs-datetimepicker required ngModel id='AMC_endDate' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="AMC_endDate" placeholder='Select a date'>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="os_image" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">OS Image:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="os_image" placeholder="" name="os_image" #os_image="ngModel" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="os_image.touched && !os_image.valid">
                                Please enter os_image.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="is_AMAT_compliant" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMAT_compliant:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="is_AMAT_compliant" name="is_AMAT_compliant">
                <option [(value)]="AMATCompliantValues.id" *ngFor="let AMATCompliantValues of AMATCompliant">
                  {{AMATCompliantValues.desc}}</option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="GIS_GDC" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">GIS/GDC:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="GIS_GDC" name="GIS_GDC">
                <option [(value)]="valuesbyname.name" *ngFor="let valuesbyname of GIS_GDC_values">{{valuesbyname.name}}
                </option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!addAssetForm.form.valid">
                        <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
                    </div>
                </form>

                <form form (ngSubmit)="EditAsset(editAssetForm);" #editAssetForm="ngForm" class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="editAsset-form-id" *ngIf="editAssetForm_tag !== null">
                    <div class="modal-header">
                        <h3 class="modal-title pull-left mod-head">Modify Asset Details</h3>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="reload_home()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>

                    <div class="modal-body question-modal-body">

                        <div class="form-group row">
                            <label for="system_serial_number_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Serial Number:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="system_serial_number_edit" placeholder="Enter Serial Number" name="system_serial_number_edit" #system_serial_number_edit="ngModel" [(ngModel)]="SearilaNUm_selected"
                                readonly>
                            <!-- <div class="alert alert-danger" *ngIf="system_serial_number_edit.touched && !system_serial_number_edit.valid">
        Please enter Serial Number.
      </div> -->
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="asset_type_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Asset Type:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" [(ngModel)]="type_sel" name="asset_type_edit" id="asset_type_edit">
                <option [(value)]="type.Tname" *ngFor="let type of assetType">
                  {{type.Tname}}
                </option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="OEM_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">OEM:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="OEM_edit" placeholder="" name="OEM_edit" #OEM_edit="ngModel" [(ngModel)]="OEM" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="OEM_edit.touched && !OEM_edit.valid">
                                Please enter OEM.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="model_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Model:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="model_edit" placeholder="" name="model_edit" #model_edit="ngModel" [(ngModel)]="model" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="model_edit.touched && !model_edit.valid">
                                Please enter model.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="procure_date_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Procure Date:</label>
                            <ejs-datetimepicker ngModel id='procure_date_edit' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="procure_date_edit" placeholder='Select a date' [(ngModel)]="procure_date" required>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="warranty_startDate_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Warranty Start
                Date:</label>
                            <ejs-datetimepicker ngModel class="col-xs-6 col-sm-6  col-md-6 col-lg-6" id='warranty_startDate_edit' name="warranty_startDate_edit" placeholder='Select a date' [(ngModel)]="warranty_start_date" required>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="warrenty_endDate_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Warrenty End Date:</label>
                            <ejs-datetimepicker ngModel id='warrenty_endDate_edit' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="warrenty_endDate_edit" placeholder='Select a date' [(ngModel)]="warranty_end_date" required>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="AMC_startDate_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMC Start Date:</label>
                            <ejs-datetimepicker ngModel id='AMC_startDate_edit' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="AMC_startDate_edit" placeholder='Select a date' [(ngModel)]="amc_startdate" required>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="AMC_endDate_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMC End Date:</label>
                            <ejs-datetimepicker ngModel id='AMC_endDate_edit' class="col-xs-6 col-sm-6  col-md-6 col-lg-6" name="AMC_endDate_edit" placeholder='Select a date' [(ngModel)]="amc_endate" required>
                            </ejs-datetimepicker>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="os_image_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">OS Image:</label>
                            <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="os_image_edit" placeholder="" name="os_image_edit" #os_image_edit="ngModel" [(ngModel)]="os_image" required>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2  col-md-2 col-lg-2"></div>
                            <div class="alert alert-danger col-xs-4 col-sm-4  col-md-4 col-lg-4 err-msg-cls" *ngIf="os_image_edit.touched && !os_image_edit.valid">
                                Please enter os_image.
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="is_AMAT_compliant_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">AMAT_compliant:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="is_AMAT_compliant_edit" name="is_AMAT_compliant_edit" [(ngModel)]="is_customer_compliant">
                <option [(value)]="AMATCompliantValues.id" *ngFor="let AMATCompliantValues of AMATCompliant">
                  {{AMATCompliantValues.desc}}</option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                        <div class="form-group row">
                            <label for="GIS_GDC_edit" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">GIS/GDC:</label>
                            <select ngModel class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="GIS_GDC_edit" name="GIS_GDC_edit" [(ngModel)]="customer_dept">
                <option [(value)]="valuesbyname.name" *ngFor="let valuesbyname of GIS_GDC_values">{{valuesbyname.name}}
                </option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>
                        <input type="hidden" name="id" [(ngModel)]="selectedRowIndex" ngModel>

                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!editAssetForm.form.valid">
                        <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
                    </div>
                </form>

                <form form (ngSubmit)="AssignAsset(assignAssetForm);" #assignAssetForm="ngForm" class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="assignAssetForm-form-id" *ngIf="assignAssetForm_tag !== null">
                    <div class="modal-header">
                        <h3 class="modal-title pull-left mod-head">Assign/Reassign Asset : </h3>
                        <button type="button" class="close pull-right" aria-label="Close" (click)="reload_home()">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>

                    <div class="modal-body question-modal-body">

                        <div class="form-group row">
                            <label for="system_serial_number_assign" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Serial
                Number:</label>
                            <!-- <input ngModel type="text" class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="system_serial_number_assign" value="123" placeholder="Enter Serial Number" name="system_serial_number_assign" #system_serial_number_assign="ngModel" readonly> -->
                            <span class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6">{{SearilaNUm_selected}}</span>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                            <!-- <div class="alert alert-danger" *ngIf="system_serial_number_edit.touched && !system_serial_number_edit.valid">
        Please enter Serial Number.
      </div> -->
                        </div>

                        <div class="form-group row" *ngIf="current_assiged_emp !== null">
                            <label for="system_serial_number_assignTo" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Currently Assigned
                To :</label>
                            <span class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6">{{current_assiged_emp}}</span>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>

                        </div>

                        <input type="hidden" name="asset_id" [(ngModel)]="selectedRowIndex" ngModel>

                        <div class="form-group row">
                            <label for="employee_id" class="col-xs-2 col-sm-2  col-md-2 col-lg-2">Assign/Reassign To:</label>
                            <select class="form-control col-xs-6 col-sm-6  col-md-6 col-lg-6" id="employee_id" name="employee_id" ngModel>
                <option [(ngValue)]="empValues.id" *ngFor="let empValues of employeeList">{{empValues.firstname}}
                  {{empValues.lastname}}</option>
              </select>
                            <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-primary" type="submit" value="submit">
                        <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
                    </div>
                </form>



                <div *ngIf="grid_tag !== null" class="mat-elevation-z8">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Serial Number">

                    </mat-form-field>
                    <span (click)="exportAsXLSX()" class="material-icons md-36 icon-css-my" title="Export to excel" style="float: right;">
            cloud_download
          </span>
                    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                        <ng-container matColumnDef="serial_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial Number </th>
                            <td mat-cell *matCellDef="let element"> {{element.serial_number}} </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>

                        <ng-container matColumnDef="OEM">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OEM </th>
                            <td mat-cell *matCellDef="let element" (click)="eleClicked(element)"> {{element.OEM}} </td>
                        </ng-container>

                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
                            <td mat-cell *matCellDef="let element"> {{element.model}} </td>
                        </ng-container>

                        <ng-container matColumnDef="procure_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Procure Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.procure_date | date:'MM/dd/yyyy h:mm a'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="warranty_start_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> warranty_start_date </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.warranty_start_date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="warranty_end_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Warranty End Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.warranty_end_date | date:'MM/dd/yyyy h:mm a'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amc_startdate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> amc_startdate </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.amc_startdate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="amc_endate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> amc_endate </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.amc_endate}} </td>
                        </ng-container>

                        <ng-container matColumnDef="os_image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OS Image </th>
                            <td mat-cell *matCellDef="let element"> {{element.os_image}} </td>
                        </ng-container>

                        <ng-container matColumnDef="is_customer_compliant">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> is_customer_compliant
                            </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.is_customer_compliant}} </td>
                        </ng-container>

                        <ng-container matColumnDef="customer_dept">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Dept. </th>
                            <td mat-cell *matCellDef="let element"> {{element.customer_dept}} </td>
                        </ng-container>

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> id </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.id}} </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="profile_image">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [style.display]="'none'"> profile_image </th>
                            <td mat-cell *matCellDef="let element" [style.display]="'none'"> {{element.profile_image}} </td>
                        </ng-container> -->


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="rowClicked(row)"></tr>
                    </table>

                    <!-- Angular 8 pagination -->
                    <mat-paginator [pageSizeOptions]="[8, 16, 24]" showFirstLastButtons></mat-paginator>
                </div>

                <!-- <div class="test-container">
            <div class="test-header">
              Selection:
              <span id="selectedRows"></span>
            </div>
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-alpine"
              [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [rowSelection]="rowSelection"
              [rowData]="rowData" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div> -->


                <!--- https://stackblitz.com/angular/dlxbkjqaoba?file=app%2Ftable-basic-example.ts -->



                <!-- <table id="YOUR_DATATABLE_ID" datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
              </tr>
            </thead>
            <tbody *ngIf="persons?.length != 0">
                <tr *ngFor="let person of persons">
                    <td>{{ person.id }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                </tr>
            </tbody>
            <tbody *ngIf="persons?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data!</td>
              </tr>
            <tbody>
          </table> -->
                <!-- <table datatable class="row-border hover">
            <thead>
              <tr>
                <th>SL No.</th>
                <th>Asset Type</th>
                <th>Serial Number</th>
                <th>Manufacter</th>
                <th>Assigned</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Laptop</td>
                <td>TMD001</td>
                <td>HP</td>
                <td>Ravi</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Desktop</td>
                <td>TMD002</td>
                <td>DELL</td>
                <td>Vinod</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Mouse</td>
                <td>TMD003</td>
                <td>HP</td>
                <td>Rohit</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Keyboard</td>
                <td>TMD004</td>
                <td>HP</td>
                <td>Shankar</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Laptop</td>
                <td>TMD005</td>
                <td>Lenovo</td>
                <td>Rakesh</td>
              </tr>
            </tbody>
          </table> -->
            </div>
        </div>
    </div>
</div>
<!-- </form> -->

<ng-template #template>
    <!-- <form form (ngSubmit)="AddAsset(addAssetForm); addAssetForm.reset()" #addAssetForm="ngForm"
    class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="addAsset-form-id">
    <div class="modal-header">
      <h4 class="modal-title pull-left mod-head">Add New Asset</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body question-modal-body">

      <div class="form-group">
        <label for="system_serial_number">Serial Number:</label>
        <input ngModel type="text" class="form-control" id="system_serial_number" placeholder="Enter Serial Number"
          name="system_serial_number" #system_serial_number="ngModel" required>
        <div class="alert alert-danger" *ngIf="system_serial_number.touched && !system_serial_number.valid">
          Please enter Serial Number.
        </div>
      </div>

      <div class="form-group">
        <label for="asset_type">Asset Type:</label>
        <select class="form-control">
          <option [(value)]="type.Tname" *ngFor="let type of assetType" name="asset_type" id="asset_type">{{type.Tname}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="OEM">OEM:</label>
        <input ngModel type="text" class="form-control" id="OEM" placeholder="Enter OEM" name="OEM" #OEM="ngModel"
          required>
        <div class="alert alert-danger" *ngIf="OEM.touched && !OEM.valid">
          Please enter OEM.
        </div>
      </div>

      <div class="form-group">
        <label for="model">Model:</label>
        <input ngModel type="text" class="form-control" id="model" placeholder="Enter model" name="model"
          #model="ngModel" required>
        <div class="alert alert-danger" *ngIf="model.touched && !model.valid">
          Please enter model.
        </div>
      </div>

      <div class="form-group">
        <label for="procure_date">Procure Date:</label>
        <ejs-datetimepicker id='procure_date' name="procure_date" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="warranty_startDate">Warranty Start Date:</label>
        <ejs-datetimepicker id='warranty_startDate' name="warranty_startDate" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="warrenty_endDate">Warrenty End Date:</label>
        <ejs-datetimepicker id='warrenty_endDate' name="warrenty_endDate" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="AMC_startDate">AMC Start Date:</label>
        <ejs-datetimepicker id='AMC_startDate' name="AMC_startDate" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="AMC_endDate">AMC End Date:</label>
        <ejs-datetimepicker id='AMC_endDate' name="AMC_endDate" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="os_image">OS Image:</label>
        <input ngModel type="text" class="form-control" id="os_image" placeholder="Enter os_image" name="os_image"
          #os_image="ngModel" required>
        <div class="alert alert-danger" *ngIf="os_image.touched && !os_image.valid">
          Please enter os_image.
        </div>
      </div>

      <div class="form-group">
        <label for="is_AMAT_compliant">AMAT_compliant:</label>
        <select class="form-control" id="is_AMAT_compliant" name="is_AMAT_compliant">
          <option [(value)]="AMATCompliantValues.desc" *ngFor="let AMATCompliantValues of AMATCompliant">
            {{AMATCompliantValues.desc}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="GIS_GDC">GIS/GDC:</label>
        <select class="form-control" id="GIS_GDC" name="GIS_GDC">
          <option [(value)]="valuesbyname.name" *ngFor="let valuesbyname of GIS_GDC_values">{{valuesbyname.name}}
          </option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!addAssetForm.form.valid">
      <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
    </div>
  </form> -->
</ng-template>


<ng-template #template_edit>
    <!-- <form form (ngSubmit)="EditAsset(editAssetForm); editAssetForm.reset()" #editAssetForm="ngForm"
    class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="editAsset-form-id">
    <div class="modal-header">
      <h4 class="modal-title pull-left mod-head">Modify Asset Details</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body question-modal-body">

      <div class="form-group">
        <label for="system_serial_number_edit">Serial Number:</label>
        <input ngModel type="text" class="form-control" id="_edit" placeholder="Enter Serial Number"
          name="system_serial_number_edit" #system_serial_number_edit="ngModel" readonly>
        
      </div>

      <div class="form-group">
        <label for="asset_type_edit">Asset Type:</label>
        <select class="form-control">
          <option [(value)]="type.Tname" *ngFor="let type of assetType" name="asset_type_edit" id="asset_type_edit">
            {{type.Tname}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="OEM_edit">OEM:</label>
        <input ngModel type="text" class="form-control" id="OEM_edit" placeholder="Enter OEM" name="OEM_edit"
          #OEM_edit="ngModel" required>
        <div class="alert alert-danger" *ngIf="OEM_edit.touched && !OEM_edit.valid">
          Please enter OEM.
        </div>
      </div>

      <div class="form-group">
        <label for="model_edit">Model:</label>
        <input ngModel type="text" class="form-control" id="model_edit" placeholder="Enter model" name="model_edit"
          #model_edit="ngModel" required>
        <div class="alert alert-danger" *ngIf="model_edit.touched && !model_edit.valid">
          Please enter model.
        </div>
      </div>

      <div class="form-group">
        <label for="procure_date_edit">Procure Date:</label>
        <ejs-datetimepicker id='procure_date_edit' name="procure_date_edit" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="warranty_startDate_edit">Warranty Start Date:</label>
        <ejs-datetimepicker id='warranty_startDate_edit' name="warranty_startDate_edit" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="warrenty_endDate_edit">Warrenty End Date:</label>
        <ejs-datetimepicker id='warrenty_endDate_edit' name="warrenty_endDate_edit" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="AMC_startDate_edit">AMC Start Date:</label>
        <ejs-datetimepicker id='AMC_startDate_edit' name="AMC_startDate_edit" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="AMC_endDate_edit">AMC End Date:</label>
        <ejs-datetimepicker id='AMC_endDate_edit' name="AMC_endDate_edit" placeholder='Select a date'>
        </ejs-datetimepicker>
      </div>

      <div class="form-group">
        <label for="os_image_edit">OS Image:</label>
        <input ngModel type="text" class="form-control" id="os_image_edit" placeholder="Enter os_image"
          name="os_image_edit" #os_image_edit="ngModel" required>
        <div class="alert alert-danger" *ngIf="os_image_edit.touched && !os_image_edit.valid">
          Please enter os_image.
        </div>
      </div>

      <div class="form-group">
        <label for="is_AMAT_compliant_edit">AMAT_compliant:</label>
        <select class="form-control" id="is_AMAT_compliant_edit" name="is_AMAT_compliant_edit">
          <option [(value)]="AMATCompliantValues.desc" *ngFor="let AMATCompliantValues of AMATCompliant">
            {{AMATCompliantValues.desc}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="GIS_GDC_edit">GIS/GDC:</label>
        <select class="form-control" id="GIS_GDC_edit" name="GIS_GDC_edit">
          <option [(value)]="valuesbyname.name" *ngFor="let valuesbyname of GIS_GDC_values">{{valuesbyname.name}}
          </option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!editAssetForm.form.valid">
      <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
    </div>
  </form> -->
</ng-template>


<ng-template #template_remove>
    <form form (ngSubmit)="RemoveAsset(removeAssetForm);" #removeAssetForm="ngForm" class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="removeAsset-form-id">
        <div class="modal-header">
            <h4 class="modal-title pull-left mod-head">Remove Asset Details</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <!-- <input type="hidden" name="id" [(ngModel)]="selectedRowIndex" ngModel> -->

        <div class="modal-body question-modal-body">

            <div class="form-group">
                <h2 id="remove_msg" name="remove_msg">Are you sure ?</h2><br />You want to remove the asset !!!
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Yes">
            <button type="button" class="btn btn-primary" (click)="modalRef.hide()">No</button>
            <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
        </div>
    </form>
</ng-template>

<ng-template #template_addEmployee>
    <form form (ngSubmit)="addEmpFormFunc(addEmpForm);" #addEmpForm="ngForm" class="col-xs-12 col-sm-12  col-md-12 col-lg-12">
        <div class="modal-header">
            <h4 class="modal-title pull-left mod-head">Import Employee</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <!-- <input type="hidden" name="id" [(ngModel)]="selectedRowIndex" ngModel> -->

        <div class="modal-body question-modal-body">
            <span id="SampleFile" name="SampleFile" title="Sample File" (click)="exportSampleFile()">Click here to sample
        file</span>
            <br>
            <p>Choose employee file:</p>
            <div class="custom-file mb-3">
                <input ngModel type="file" class="custom-file-input file-upload-cls " id="customFile" name="filename" (change)="onFileChange($event)" #filename="ngModel" [(ngModel)]="model" required>
                <label class="custom-file-label file-upload-cls" for="customFile">Choose file</label>
            </div>
        </div>

        <div class="modal-footer">
            <p class="alert alert-danger top-space err-msg-cls" *ngIf="import_error !== null">{{import_errorMsg}}</p>
            <input class="btn btn-primary" type="submit" value="submit" [disabled]="!addEmpForm.form.valid">
        </div>
    </form>
</ng-template>

<ng-template #template_assign>
    <!-- <form form (ngSubmit)="AssignAsset(assignAssetForm); assignAssetForm.reset()" #assignAssetForm="ngForm"
    class="col-xs-12 col-sm-12  col-md-12 col-lg-12" id="assignAssetForm-form-id">
    <div class="modal-header">
      <h4 class="modal-title pull-left mod-head">Assign/Reassign Asset : </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body question-modal-body">

      <div class="form-group">
        <label for="system_serial_number_assign">Serial Number:</label>
        <input ngModel type="text" class="form-control" id="_edit" placeholder="Enter Serial Number"
          name="system_serial_number_assign" #system_serial_number_assign="ngModel" readonly>
        
      </div>

      <div class="form-group">
        <label for="employee_id">Please select employee:</label>
        <select class="form-control" id="employee_id" name="employee_id">
          <option [(value)]="empValues.id" *ngFor="let empValues of employeeList">{{empValues.name}}</option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <input class="btn btn-primary" type="submit" value="submit">
      <p class="alert alert-danger top-space" *ngIf="error !== null">{{error}}</p>
    </div>
  </form> -->
</ng-template>