/*
   server-side-angular-way.component.css
*/

.no-data-available {
    text-align: center;
}


/*
     src/styles.css (i.e. your global style)
  */

.dataTables_empty {
    display: none;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.question-modal-body {
    max-height: 400px;
    overflow: auto;
}

.err-msg-cls {
    margin-left: 20px;
}

.test-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.test-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
}

.mod-head {
    color: #5f5f5f;
    font-weight: bold;
}

.active-this {
    background-color: black;
}

.highlight {
    background: lavender;
}

.mat-header-cell,
.mat-sort-header {
    font-weight: bold;
}

.icon-css-my {
    float: right;
    cursor: pointer;
    padding-top: 20px;
    padding-right: 20px;
}

#SampleFile {
    float: right;
    cursor: pointer;
    text-decoration: underline;
    font-size: small;
}

.file-upload-cls {
    cursor: pointer;
}

.err-msg-cls {
    margin-left: 20px;
    padding: 1px;
    margin-top: 10px;
}